* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --e-global-color-primary: #ffffff;
    --e-global-color-secondary: #19191f;
    --e-global-color-accent: #ee4619;
    --e-global-color-text: #777777;
    --e-global-color-white: #ffffff;
    --e-global-color-black: #000000;
    --e-global-color-copyright-text: #555555;
    --e-global-color-light-grayish-cyan: #ebf1f3;
    --e-global-color-grayish-blue: #cad3d6;
    --e-global-color-dark-grayish-blue: #bdc2c4;
    --e-global-color-light-grayish-blue: #f3f3f4;
    --e-global-color-very-light-grayish-blue: #f6f7fb;
    --e-global-color-dark-moderate-green: #6cad4f;
    --e-global-color-vivid-orange: #ef7216;
    --e-global-color-very-light-gray: #e5e5e5;
    --e-global-color-very-dark-grayish-pink: #726f71;
    --e-global-color-light-gray: #cccccc;
    --e-global-color-soft-orange: #f49c5b;
    --e-global-color-very-dark-blue: #10205e;
    --e-global-color-lime-green: #30c89f;
    --e-global-color-very-dark-grayish-blue: #666c84;
    --e-global-color-light-grayish-orange: #fdefe4;
    --e-global-color-light-grayish-green: #f9fbf6;
    --e-global-color-very-light-grayish-cyan: #d9f4ed;
    --e-global-color-very-pale-orange: #ffecda;

}

/* Main section */

.main-section {
    background-image: linear-gradient(to left, var(--e-global-color-light-grayish-orange) 0%, var(--e-global-color-light-grayish-green) 50%, var(--e-global-color-very-light-grayish-cyan) 90%) !important;
    /* background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    width: 100%;
    min-height: auto;
}

.img-section {
    position: absolute;
    right: 5%;
    top: -30px;
}

.main_img {
    border-radius: 70% 70% 0px 0px;
    border: 4px solid white;
    width: 90%;
    height: auto;
    object-fit: cover;
}

.all_main_row {
    display: flex;
    align-items: center;
}

/* .img-section-two {
    position: absolute;
    right: 9%;
    top: 100px;
} */
.main-heading {
    font-size: 74px;
    line-height: 80px;
    font-weight: 700;
    color: #10205e;

}

.main_sub_heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: var(--e-global-color-very-dark-blue);
}

.img-section3 {
    display: flex;
    justify-content: center;
    align-items: center;

    /* bottom: px; */
}

.img-section4 {
    display: flex;
    justify-content: center;
    align-items: center;

    /* bottom: px; */
}

.banner_img3 {
    border-radius: 20px 0px 20px 0px;
    border: 4px solid white;
    width: 100%;
}

.side-media-icons {
    display: flex;
    background: white;
    width: 55px;
    height: 55px;
    padding: 10px;
    color: #10205e;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.side-media-icons:hover {
    background: var(--e-global-color-lime-green);
    color: white;
    transform: translateY(-5px);
}

.icons_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:767px) {

    .icons_section {
        display: none;
    }

    .img-section3 {
        display: none;
    }

    .img-section4 {
        display: none;
    }

    .side_imgs1 {
        display: none;
    }

    .arrow-section {
        display: none;
    }

    .side-line {
        display: none;
    }
    .lets_talk{
        display: none !important;
    }

    .main-heading {
        font-size: 30px;
        text-align: center;
        line-height: 35px;
        font-weight: bold;
    }

    .main_heading_two {
        font-size: 25px !important;
        text-align: center;
        line-height: 35px !important;
        font-weight: bold !important;
    }

    .line_section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main_sub_heading,
    .best_digital {
        font-size: 17px;
        text-align: center;
    }

    .top_fixed_img {
        width: 100% !important;
    }

    .part_six {
        padding: 0px !important;
    }

    .main_heading_three {
        font-size: 25px !important;
        font-weight: bold;
    }
    .project_content {
        padding: 33px !important;
      
    }
    .project_content_two {
        padding: 33px !important;
       
    }
    .page_con_heading {
        font-size: 28px !important;
    }
}

@media (min-width:765px) and (max-width:1250px) {
    .main-heading {
        font-size: 30px;
        line-height: normal;
        font-weight: 700;
        color: #10205e;
    }

    .main_heading_two {
        font-size: 30px !important;
        line-height: normal !important;
        font-weight: 700;
        color: #10205e;
    }

    .page_con_heading {
        font-size: 28px !important;
    }

    .side_imgs1 {
        display: none;
    }

}

.top_fixed_img {
    width: 45%;
}

.best_digital {
    color: #ff5440;
    font-size: 20px;
}

.line_section {
    display: flex;
    align-items: center;
}

.side-line {
    border-top: 3px solid #ff5440;
    width: 10%;
}

.appointment_btn {

    display: flex;
    justify-content: center;
    align-items: center;


}

.appointment_now {
    padding: 10px 30px 10px 30px;
    border: 0px;
    background: #ff5440;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
}

.appointment_now:hover {
    background: var(--e-global-color-lime-green);
}

.scroll_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_inner_section {
    background: white;
    display: flex;
    border-radius: 86px;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
}

.scroll_down {
    color: #10205e;
    font-size: 18px;
    font-weight: 500;
}

/* section part2 code */
.main_heading_two {
    font-size: 63px;
    line-height: 68px;
    font-weight: 700;
    color: var(--e-global-color-very-dark-blue);
}

.img_section5 {
    border-radius: 10px 10px 10px 115px;
    border: 3px solid #ff5440;
    width: 100%;
}

.img_section_six {
    border-radius: 10px 100px 10px 10px;
    width: 100%;
    border: 4px solid #ff5440
}

.side_imgs1 {
    position: absolute;
    z-index: -1;
    top: -125px;
    left: 73%;
}

.advertising_content {
    display: flex;
    justify-content: center;
}

.advertising_points {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--e-global-color-very-dark-blue);
    transition: all 0.3s ease-in-out;
}

.advertising_points:hover {
    color: #ff5440;
}

/* end of the section part two */

/* =============== part-three css code ================ */
.part_three {
    background-image: linear-gradient(to left, var(--e-global-color-light-grayish-orange) 0%, var(--e-global-color-light-grayish-green) 50%, var(--e-global-color-very-light-grayish-cyan) 90%) !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.four_cards_items {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.test_img_one {
    width: 70px;
}

.fact_img_section {
    background: var(--e-global-color-very-dark-blue);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

.consult_now_btn {
    padding: 5px 15px 5px 15px;
    border: 2px solid #10205e;
    border-radius: 8px;
    background: transparent;
    color: #10205e;
    font-weight: 500;
}

h4.online_mark_heading {
    color: #10205e;
    font-weight: bold;
}

div.testmonials_card1 {
    border: 0px;
    background-color: #e7dcf7;
}

div.testmonials_card2 {
    border: 0px;
    background-color: #ffecda;
}

div.testmonials_card3 {
    border: 0px;
    background-color: #abdfcd;
}

div.testmonials_card4 {
    border: 0px;
    background-color: #fae8bd;
}

/* =============== part-three css end ================= */
/* section part four code  */
.project_content::before {
    background: url(img/product-backgroundimage1.webp);
    content: "";
    width: 100%;
    height: 100%;
    opacity: 20%;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.project_content_two::before {
    background: url(img/product-backgroundimage2.webp);
    content: "";
    width: 100%;
    height: 100%;
    opacity: 20%;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.project_content {
    background-color: var(--e-global-color-very-dark-blue);
    position: relative;
    display: flex;
    justify-content: center;
    padding: 121px;
    /* padding:10%; */
}

.project_content_two {
    background-image: linear-gradient(to right, #10205e 0%, #ff5440 100%);
    position: relative;
    display: flex;
    justify-content: center;
    padding: 121px;
    /* padding:10%; */
}


.page_con_heading {
    color: white;
    position: relative;
    font-size: 40px;
    font-weight: 700;
}

.page_text {
    color: white;
    position: relative;
    font-size: 18px;
    font-weight: 400;
}

.get_started {
    color: white;
    position: relative;
    background: #ff5440;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
}

.get_started:hover {

    background: #30c89f;

}

.lets_started {
    color: white;
    position: relative;
    background: #30c89f;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
}

.lets_started:hover {
    background: #ff5440;
}

.line {
    border-top: 4px solid white;
    position: relative;
    width: 80px;
}

/* end of section part four */
/* ============ part section five css ==================== */
.main_heading_three {
    font-size: 40px;
    font-weight: 700;
    color: var(--e-global-color-very-dark-blue);
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.tempicon-container .outer-circle {
    background-color: #abdfcd;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(-45deg);
}


.tempicon-container .outer-circle .inner-circle {
    background-color: #ff5440;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-weight: 600;

    /* Adjusted to position higher */
    transition: all 0.3s ease-in-out;
    transform: rotate(45deg);
    /* Rotate back to keep it unrotated */
}

div.inner-circle:hover {
    transform: translateY(-5px) !important;

}

div.common_color2 {
    background-color: #ffecda !important;
}

div.common_color3 {
    background-color: #e7dcf7 !important;
}

div.common_color4 {
    background-color: #fae8bd !important;
}

div.common_color_sub {
    background-color: white;
}

.tempicon {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(45deg);
    /* Rotate back to keep it unrotated */
}

.tempicon i {
    color: white;
    font-size: 24px;
}

.vertical-line {
    width: 5px;
    height: 70px;
    background-color: #abdfcd;
    position: relative;
    top: 0px;
}

.small-circle {
    background-color: #abdfcd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
}

.innser_sub {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
}

.all_concept_data {
    margin-bottom: 20px;
    color: var(--e-global-color-very-dark-blue);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.sub_concept_data {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #666c84;
    text-align: center;
}

.how_it {
    color: #ff5440;
    font-weight: bold;
}

.side_line {
    border-bottom: 3px solid #ff5440;
    width: 172px;
}

/* ============ part section five css ==================== */
/* ============ part section six css ==================== */

.part_six {
    background-image: linear-gradient(to left, var(--e-global-color-light-grayish-orange) 0%, var(--e-global-color-light-grayish-green) 50%, var(--e-global-color-very-light-grayish-cyan) 90%);
    position: relative;
    padding: 155px 0 110px;
}

.number_dm_data {
    display: flex;
    align-items: center;
}

.numbers {
    font-size: 40px;
    color: var(--e-global-color-very-dark-blue)
}

.numbers_sub {
    font-size: 18px;
    font-weight: 600;
    color: #666c84;

}

.fact_img {
    width: 100%;
    border: 4px solid white;
    border-radius: 20px;
}


/* ============ part section six end ==================== */
/* ============ part siven css========================= */
.part-siven {
    background-image: linear-gradient(to left, var(--e-global-color-light-grayish-orange) 0%, var(--e-global-color-light-grayish-green) 50%, var(--e-global-color-very-light-grayish-cyan) 90%);
    position: relative;

}

.owl-carousel .owl-item .test_img_two {
    width: 100px !important;
    border-radius: 10px;
}

.imag-testmonials {
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.imag-testmonials:hover {
    filter: grayscale(0%);

}

.testmonials_cards {
    border: 4px solid white !important;
}

.all_testmonials_text {
    font-size: 17px;
    font-weight: 400;
    color: #666c84;
}

.testmonial_image {
    width: 100%;
}

.owl-dot.active span {
    background-color: #ff5440 !important;
}

@media (max-width:767px) {
    .testmonial_image {
        width: 100%;
    }

    .side_imgs1 {
        display: none;
    }

    /* .globe_main {
        display: none;
    } */
}

.globe_main {
    position: absolute;
    transform: rotate(180deg);
    top: -64px;
    left: -38px;
}

.globe_img {
    width: 120px;
}

/* ============ part siven css end ========================= */
/* ============ footer and part-8 css start ================ */
.contact_content::before {
    content: "";
    position: absolute;
    background: url(img/contact3-backgroundimage.png);
    opacity: 25%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input_section {
    position: relative;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: 0px;
    outline: 0px;
}

.input_section:hover {
    border: 2px solid #ff5440;
}

.contact_content {
    padding: 100px;
    background-image: linear-gradient(to right, #10205e 0%, #ff5440 100%);
    position: relative;
    text-align: center;
    border-radius: 50px;
}

.contact_content h4,
h1 {
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 1440px) {
    .digital_contact-section .contact_content {
        padding: 95px 135px 100px;
    }
}

@media (max-width:789px) {
    .contact_content {
        padding: 20px;
    }
    .serch_bar{
        width: 60% !important;
    }
    .lets_talk{
        padding: 7px 17px !important;
    }
}

.send_message_btn {
    padding: 15px 40px 15px 40px;
    border: 0px;
    border-radius: 10px;
    background: #ff5440;
    position: relative;
    color: white;
}

.footer_section {
    background-image: linear-gradient(to left, var(--e-global-color-light-grayish-orange) 0%, var(--e-global-color-light-grayish-green) 50%, var(--e-global-color-very-light-grayish-cyan) 90%);

}

.our_heading {
    font-size: 50px;
    line-height: 54px;
    color: var(--e-global-color-very-dark-blue);
    font-weight: bold;
}

.redure_content {

    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: var(--e-global-color-very-dark-blue);
}

.title {
    color: var(--e-global-color-vivid-orange);
}

.our_services {
    background-image: linear-gradient(to left, var(--e-global-color-light-grayish-orange) 0%, var(--e-global-color-light-grayish-green) 50%, var(--e-global-color-very-light-grayish-cyan) 90%);
}

.form_msg {
    color: white;
}

.all_social_icons {
    display: flex;

}

.fa_icons {
    background: #10205e;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.fa_icons:hover {
    transform: translateY(-5px);
}

.footer-text {
    font-size: 16px;
    line-height: 23px;
    margin-right: 68px;
    margin-bottom: 24px;
    color: var(--e-global-color-very-dark-grayish-blue);
}

#all_common_color {
    color: var(--e-global-color-lime-green);
    transition: all 0.3s ease-in-out;
}

#all_common_color:hover {
    transform: translateY(-5px);
}

.services_section,
.appintment_section,
.contact_section {
    color: var(--e-global-color-very-dark-grayish-blue);
}

.footer_btn {
    padding: 10px;
    color: white;
    font-weight: 600;
    background: #30c89f;
    border-radius: 10px;
    border: 0px;
}

.ancor_tag_color {
    text-decoration: none;
    color: var(--e-global-color-very-dark-grayish-blue);
    scroll-behavior: smooth;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    margin-top: 35px !important;
    /* font-size: 23px; */
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.review_name{
    color: #10205e;
    font-weight: bold;
    font-size: 18px;
}
/* ====== side scroll bar nav */
::-webkit-scrollbar {
    width: 3px;
    height: 6px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #ff5440 !important;
}

/* ===== end ====== */
/* end of our services */
/* ============ footer and part-8 css end ================== */
/* Main section end */
/* ========== Page Loader ============= */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #000; /* Ensure loader wrapper background matches body */
  }
  
  #loader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    position: relative;
  }
  
  .flame {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: #ff5440;
    border-radius: 50%;
    animation: flicker 0.8s infinite alternate;
  }
  
  .flame:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
  }
  
  .flame:nth-child(2) {
    left: 30%;
    animation-delay: 0.1s;
    background-color: #30c89f;
  }
  
  .flame:nth-child(3) {
    left: 50%;
    animation-delay: 0.2s;
  }
  
  .flame:nth-child(4) {
    left: 70%;
    animation-delay: 0.3s;
    background-color: #ff8c00;
  }
  
  .flame:nth-child(5) {
    left: 90%;
    animation-delay: 0.4s;
  }
  
  @keyframes flicker {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    100% {
      transform: scale(1.5);
      opacity: 0.1;
    }
  }
  
  #content {
    display: none; /* Initially hide content */
  }